/HelloStudents/nbproject/private/
/HelloStudents/build/
/HelloStudents/dist/
/HelloClass/nbproject/private/
/HelloClass/build/
/ExemploEstrutura/nbproject/private/
/ExemploEstrutura/build/
/ExemploAtributo/nbproject/private/
/ExemploAtributo/build/
/ExemploAtributo/dist/
/ExemploConversao/nbproject/private/
/ExemploConversao/build/
/ExemploScanner/nbproject/private/
/ExemploScanner/build/